<!DOCTYPE html>
<html>
<!--
/**
 *  Example error page if the user is not authorized.
 *  @TODO: remove this page, as an unauthorized access should get a 403 error.
**/
-->
<head>
	<title>Error</title>
	<% include ../partials/lightningHeaders.ejs %>
</head>
<body>
	
	<script type='text/javascript'>
		Sfdc.canvas( function(){
			console.log( 'page loaded' );
		});
	</script>
	
	<div class='rome-lds'>
		<div class="slds-form-element">
			<div class='slds-text-heading--large'>Error: <%= errMsg %></div>
		</div>
	</div>

</body>
</html>
